@import url('./base.css');

@font-face {
  font-family: 'GeosansLight';
  src: url('./fonts/GeoSansLight/GeosansLight.woff2') format('woff2'),
  url('./fonts/GeoSansLight/GeosansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeosansLight';
  src: url('./fonts/GeoSansLight/GeosansLight.woff2') format('woff2'),
  url('./fonts/GeoSansLight/GeosansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeosansLight';
  src: url('./fonts/GeoSansLight/GeosansLight-Oblique.woff2') format('woff2'),
  url('./fonts/GeoSansLight/GeosansLight-Oblique.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dream Orphans';
  src: url('./fonts/DreamOrphans/DreamOrphans-Italic.woff2') format('woff2'),
  url('./fonts/DreamOrphans/DreamOrphans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dream Orphans';
  src: url('./fonts/DreamOrphans/DreamOrphans-BoldItalic.woff2') format('woff2'),
  url('./fonts/DreamOrphans/DreamOrphans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dream Orphans';
  src: url('./fonts/DreamOrphans/DreamOrphans-Bold.woff2') format('woff2'),
  url('./fonts/DreamOrphans/DreamOrphans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dream Orphans';
  src: url('./fonts/DreamOrphans/DreamOrphans-Regular.woff2') format('woff2'),
  url('./fonts/DreamOrphans/DreamOrphans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'GeosansLight', sans-serif;
  font-size: 25px;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: white !important;
    color: black !important;
  }
}

#app {
  max-width:100%;
  margin: 0 auto;
  padding: 0 1rem;
}