@import url('./base.css');

@font-face {
  font-family: 'GeosansLight';
  src: url('./fonts/GeoSansLight/GeoSansLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dream Orphans';
  src: url('./fonts/DreamOrphans/Dream Orphans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Dream Orphans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: white !important;
    color: black !important;
  }
}

#app {
  max-width:90%;
  margin: 0 auto;
  padding: 0 1rem;
}